/* 
*页面背景CSS
*font-family:网页主体字体Arial
*margin：无外边距
*padding：我内边距
*background-color:网页背景为浅灰色
*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
    background-color: #f4f4f4;
}
/* 
*页面上方彩条CSS（优先级3）
*.red 红色 .yellow 黄色 .green 绿色 .blue 蓝色
*.banner.position:定位类型为固定定位 .banner.top:距上边缘为0 .banner.left:距左边缘为0
*.banner.height:高度60像素 .banner.height:高度60像素 .banner.display:弹性
*.color-block.height:高度100% .color-block.flex:分配0.25 0.5
*.banner.z-index:优先级3
*/
.red { background-color: #df0024; }
.yellow { background-color: #f9be09; }
.green { background-color: #48c521; }
.blue { background-color: #3988ff; }
.banner {
    position: fixed; 
    top: 0; 
    left: 0; 
    height: 60px;
    width: 100%;
    display: flex;
    z-index: 3; 
}
.color-block {
  height: 100%;
  flex: 1;
}
/* 
*全局的标题定义
*二级标题：左对齐
*三级标题：居中对齐
*四级标题：左对齐
*/
h2 { text-align: left; }
h3 { text-align: center; }
h4 { text-align: left; }
/* 
*页面的containerBox定义，其中有container左侧box，container2右侧box
*.containerBox.display:弹性盒模型
*.containerBox.justify-content:均匀排列每个元素，首个元素放置于起点，末尾元素放置于终点。
*/
.containerBox {  
    display: flex;  
    justify-content: space-between; 
}  
/* 
*页面的container定义，位于页面的的左侧，小矩形，用于录入人物卡
*.container.width：30%视窗宽度 .container.background-color：白色 .container.padding：内边距15像素
*container.border-radius：圆角倒角8像素
*.container.box-shadow：阴影水平偏移0像素 垂直偏移2像素 模糊半径4像素 背景为黑色 透明度10%
*关联的html功能和js函数:文件录入input，支持格式xls、xlsx 按钮功能：generateStyledTable() 文件处理功能：handleFileSelect(evt)
*/
.container {
    width: 30vw;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* 
*页面的container定义，位于页面的的左侧，小矩形，用于录入人物卡
*.container.width：30%视窗宽度 .container.background-color：白色 .container.padding：内边距15像素
*container.border-radius：圆角倒角8像素
*.container.box-shadow：阴影水平偏移0像素 垂直偏移2像素 模糊半径4像素 背景为黑色 透明度10%
*
*/
.container2 {
    width: 45vw;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} 

.text {
    text-align: center;
}
.text h4 {
    text-align: left;
}
.ReInput {
    display: flex;
    justify-content: space-between;
}

input[type="file"] {
    display: none;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    background-color: #fff;
    max-width: 100%;
}

table {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: center;
}

textarea {
    width: 95%;
    height: 200px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.input-file, .btn {
    display: inline-block;
    padding: 8px 25px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}
.input-file:hover, .btn:hover {
    background-color: #45a049;
}
tr:nth-child(even) {
    background-color: #F0FDFF;
}
tr:nth-child(odd) {
    background-color: #AEE1E9;
}
.InputData h5 {
    text-align: left;
    font-size: 16px;
    cursor: pointer; 
}

.tooltip {
    position: fixed;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 281px;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: bottom 0.6s ease, opacity 0.7s ease;
    z-index: 4;
}

.tooltip.show {
    bottom: 20px;
    opacity: 1;
}

.trips {
    position: fixed;
    top:  29%;
    left: -50%;
    transform: translateX(-50%);
    width: 210px;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: left 0.6s ease, opacity 0.7s ease;
    z-index: 4;
}

.trips.show {
    left: 950px;
    opacity: 1;
}